footer {
    background-image: url('./img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.BigLogo {
    position: absolute;
    right: 10%;
    width: 430px;
    top: -10%;
}