
footer{
    background-image: url('./img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.BigLogo {
    position: absolute;
    right: 10%;
    width: 430px;
    top: -10%;
    opacity: 0.50;
}

.FooterTop {
    display: flex;
    gap: 60px;
    margin: 10px 200px;
}

.footer-col h4 {
    color: white;
    font-size: 20px;
    padding: 8px;
}

.footer-col ul {
    list-style: none;
    padding: 8px;
    line-height: 1.2em;
}

footer a {
  color: white;
  font-size: 12px;
  text-transform: capitalize;
}